In [4]:
#Add matplotlib inline magic command
%matplotlib inline

#import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import os

In [6]:
#Files to load
city_data_to_load = os.path.join("C:/Users/raney/OneDrive/Desktop/Analysis_Projects/PyBer_Analysis/Resources/city_data.csv")
ride_data_to_load = os.path.join("C:/Users/raney/OneDrive/Desktop/Analysis_Projects/PyBer_Analysis/Resources/ride_data.csv")

city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

city_data_df

                city  driver_count   type
0        Richardfort            38  Urban
1       Williamsstad            59  Urban
2        Port Angela            67  Urban
3         Rodneyfort            34  Urban
4        West Robert            39  Urban
..               ...           ...    ...
115     Bradshawfurt             7  Rural
116     New Ryantown             2  Rural
117   Randallchester             9  Rural
118      Jessicaport             1  Rural
119  South Saramouth             7  Rural

[120 rows x 3 columns]

In [7]:
ride_data_df.head(10)

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344
5        South Latoya  2019-03-11 12:26:48   9.52  1994999424437
6       New Paulville  2019-02-27 11:17:56  43.25   793208410091
7        Simpsonburgh  2019-04-26 00:43:24  35.98   111953927754
8     South Karenland  2019-01-08 03:28:48  35.09  7995623208694
9       North Jasmine  2019-03-09 06:26:29  42.81  5327642267789

In [8]:
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [9]:
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [10]:
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [11]:
#Get the unique values of type of city
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [12]:
# get the number of data points from each type of cities
city_data_df["type"].value_counts()

Urban       66
Suburban    36
Rural       18
Name: type, dtype: int64

In [13]:
#get the count from ride data
ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [14]:
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [15]:
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [19]:
pyber_data_df = pd.merge(city_data_df, ride_data_df, on = ["city", "city"], how = "left")
pyber_data_df.head(10)

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2019-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2019-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2019-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2019-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2019-04-17 02:26:37  23.00   720020655850
5  Richardfort            38  Urban  2019-04-21 03:44:04   9.54  3698147103219
6  Richardfort            38  Urban  2019-02-03 00:14:26  29.04  4982665519010
7  Richardfort            38  Urban  2019-02-08 15:50:12  16.55  2270463070874
8  Richardfort            38  Urban  2019-04-03 15:07:34  40.77  9496210735824
9  Richardfort            38  Urban  2019-02-19 14:09:20  27.11  8690324801449